@use '@nebular/theme/styles/theming' as *;
@use '@nebular/theme/styles/themes/default';
@use '@nebular/theme/styles/globals' as *;

@include nb-install() {
  @include nb-theme-global();

  body {
    font-family: 'Roboto', sans-serif;
  }
}

nb-layout .layout,
nb-layout .layout-container,
nb-layout nb-layout-column {
  height: 100%;
  overflow: hidden;   
  padding: 0;        
}